/**
 * This app.css is all yours, if you wish to have it ready with your application put it in here!
 */

@mixin transition($type, $time) {
	transition: $type $time;
	-moz-transition: $type $time; /* Firefox 4 */
	-webkit-transition: $type $time; /* Safari and Chrome */
	-o-transition: $type $time; /* Opera */
}

// VARS

$d: #000;
$light: white;
$grey: #bbb;
$dark: $d;
$purple: #644f7a;
$blue: #156fca;
$gutter:15px;

// ICONS

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size:18px;
	height:42px;
	width:42px;
	color:black;
	background:white;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	margin:0;
	margin-right:$gutter;
	padding:12px;
}
.icon-facebook:before {
	content: "\21";
}
.icon-vimeo:before {
	content: "\22";
}
.icon-twitter:before {
	content: "\23";
}
.icon-tumblr:before {
	content: "\24";
}
.icon-instagram:before {
	content: "\25";
}
.icon-feed:before {
	content: "\26";
}
.icon-user:before {
	content: "\27";
}
.icon-location:before {
	content: "\28";
}
.icon-clock:before {
	content: "\29";
}
.icon-mail:before {
	content: "\2a";
}
.icon-calendar:before {
	content: "\2b";
} 

// INIT

html, body {
	height:100%;
	width: 100%;
}

body {
	padding-top: $gutter*4;
	top:74px;
	background:#f9f9f9;
	font-family:"Open Sans", Helvetica;
	font-weight:300;
}

body.home {
	top:0;
}

.site-title { text-transform:uppercase; font-weight:300; margin-right:$gutter;}

.container { 

	height:100%;
	min-height:100%;
	width:100%;
	position: relative;

}

.row {
	@media only screen and (min-width: 768px){
		width: 100%;
		max-width: 940px;
		min-width: 768px;
	}
}

p { font-size:16px; }

.top-bar [class*="icon-"] {
	float:left;
}

.top-bar {
	margin:$gutter auto;
	background:none;
	color:$light;
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):focus {
	background: none;
}

.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a, .top-bar ul > li:not(.name):focus a {
	color:$light;
}

.top-bar ul > li a:not(.button) {
	color: $light;
	font-weight:300;
	text-transform:uppercase;
	padding:0;
	@media only screen and (min-width: 940px){
	padding-right: $gutter;
	}
}

.top-bar ul > li:last-child a:not(.button) {
	padding-right:0;
}

.top-bar ul.left, .top-bar ul.right {
	@media only screen and (max-width: 939px){
	clear:left;
	text-align:center;
	}
}

.top-bar ul > li.toggle-topbar {
	z-index:1000;
	width:60px;
}

.admin-bar .primary-nav {
	top: 28px;
}

.primary-nav {
	width: 100%;
	top: 0;
	background:$dark;
	position: fixed;
	z-index: 100;
}

.autocolor {

	color:$grey;

	h1,h2,h3,h4,h5,h6 {
		color: $grey;
	}

	@media only screen and (min-width: 768px){
		color:$dark;

		h1,h2,h3,h4,h5,h6 {
			color: $dark;
		}

	}
}

.light {
	color:$light!important;

	h1,h2,h3,h4,h5,h6 {
		color: $light!important;
	}
}

.grey {
	color:$grey!important;

	h1,h2,h3,h4,h5,h6 {
		color: $grey!important;
	}
}

.dark {
	color:$dark!important;

	h1,h2,h3,h4,h5,h6 {
		color: $dark!important;
	}
}

.white-bg {
	background:white;
}

.nomargin {
	margin:0;
}

.t { display:table; width: 100%;}
.tc { display:table-cell; }
.tc.vm {vertical-align:middle;}

// PAGE TEMPLATE START

.page-template-start-php {
	padding-top:0;
}

.page-template-start-php .post-box {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center bottom;
}

.page-template-start-php .intro {
	height: 100%;
	text-align:center;
}

.page-template-start-php .image {
	height: 75%;
	text-align:center;
	background-attachment: fixed;
}

.page-template-start-php .image.bottom {
	background-position: center bottom;
}

.page-template-start-php .image.top {
	background-position: center top;
}

.page-template-start-php .image.center {
	background-position: center center;
}

.page-template-start-php .presentation {
	padding:$gutter*4 0;
}

.page-template-start-php .background-logo {
	background-image:url(../images/logo-invert.svg);
	background-position:center;
	background-repeat: no-repeat;
	background-color: white;
	background-size:25%;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	
}

.menu-logo{
	height:42px;
	width:42px;
	margin:0;
	margin-right:$gutter;
	background:white;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	padding:12px 12px 10px 10px;
	float:left;
}

.js .circle.start {
	margin-left:0;
	top:9999px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	position: absolute;
	-webkit-transition: top 2s, margin-left 1s, color 1s, background 1s, opacity 1s;
	-moz-transition: top 2s, margin-left 1s, color 1s, background 1s, opacity 1s;
	-ms-transition: top 2s, margin-left 1s, color 1s, background 1s, opacity 1s;
	-o-transition: top 2s, margin-left 1s, color 1s, background 1s, opacity 1s;
	transition: top 2s, margin-left 1s, color 1s, background 1s, opacity 1s;
	@include transition(all,1s);
	}

.screen {
	height:100%;
	width:100%;
	display:table;
}

.screen	>.inner {
	display: table-cell;
	vertical-align: middle;
}

.screen.bottom >.inner {
	vertical-align:bottom;
}

.screen.top >.inner {
	vertical-align:top;
}

.screen.second {
	background:white;
	overflow-x: hidden;
	.inner {
		position: relative;
		margin-top:100%;
		left:9999px;
		@include transition(left, 1s);

	}
}

.screen.third {
	background-image:url(../images/noise.jpg);
	background-size:50px auto;
	background-repeat:repeat;
}

.screen.start-footer {
	background:white;
	position: relative;
	z-index:2;
}

// SIDEBAR

aside ul {
	list-style-type: none;
	margin-left:0!important;
}  

// UI

#menu .active a {
	color:$purple;
}

table, table * {
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important;
	border:none;
}

.imagegrid {
	padding:$gutter;
}

.circle-navigation {

	.item .circle {
		opacity: 0!important;
		.hero {font-weight: 300; font-size:24px; text-transform:uppercase;}
	}

	.item.active .circle {
		opacity: 1!important;
	}

	.item.first .hero {font-weight:800; font-size:48px;}
}

.circle-holder {
	float:left;
	position: relative;
	width:300px;
	height:260px; //+20px bottom = 300px
	padding: 0 20px;
	margin: 20px auto;
}

.circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	display:table;
	margin: auto;
	width:100%;
	height:100%;
	text-shadow: 0 0 48px rgba(0,0,0,0.2);
	box-shadow: 0 0 48px rgba(0,0,0,0.1);
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Safari and Chrome */

}

.circle .inner {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
}

.circle .hero {
	font-size:48px;
	font-weight:800;
	@media only screen and (max-width: 479px){
		font-size: 24px;
	}
}

// TIME RING

.time-container {
	width:480px;
	height:480px;
	position: relative;
	margin:auto;
}

.ring {
	position: absolute;
	text-align:center;
	border-radius: 100%;
	box-shadow:0 0 0 2px black;
	background:black;
	border:1px #333 solid;
	color:#333;
	top:0;
	
	span {
		border-radius: 100%;
		font: 26px Monaco, MonoSpace;
		position: absolute;
		left: 50%;
		height: 100%;
		margin-left: -15px;
		padding:5px;
		width: 30px;
		top: 0;
		transform-origin: center center;
	}

	span.active {
		color: white;
	}
}

.ring-1.seconds {
	height:100%;
	width:100%;

	span {
		font-size:12px;
	}
}

.ring-2.minutes {

	height: 90%;
	width: 90%;
	margin:5%;

	span {
		font-size:12px;
	}
}

.ring-3.hours {

	height: 60%;
	width: 60%;
	margin:20%;

	span {
		font-size:12px;
	}
}

.ring-4.days {

	height: 50%;
	width: 50%;
	margin:25%;


	span {
		font-size:12px;
	}
}

.ring-5.months {

	height: 30%;
	width: 30%;
	margin:35%;

	span {
		font-size:12px;
	}
}

.seconds, .minutes {
	@for $i from 0 to 100 {
  	.digit-#{$i}{
		transform:rotate($i*6deg);
		-ms-transform:rotate($i*6deg);
		-webkit-transform:rotate($i*6deg);
		}  
	}
}

.hours {
	@for $i from 0 to 100 {
  	.digit-#{$i}{
		transform:rotate($i*15deg);
		-ms-transform:rotate($i*15deg);
		-webkit-transform:rotate($i*15deg);
		}  
	}
}

.days {
	@for $i from 0 to 100 {
  	.digit-#{$i}{
		transform:rotate($i*11.61290323deg);
		-ms-transform:rotate($i*11.61290323deg);
		-webkit-transform:rotate($i*11.61290323deg);
		}  
	}
}

.months {
	@for $i from 0 to 100 {
  	.digit-#{$i}{
		transform:rotate($i*30deg);
		-ms-transform:rotate($i*30deg);
		-webkit-transform:rotate($i*30deg);
		}  
	}
}

// TIME RING END




.rotate {
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */

}

.armed {
	position: fixed;
	z-index: 1;
}

.armed .four.columns {
	width:33%!important;
	float:left!important;
}

.transparent-85 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	opacity: 0.85;
}

.invert {
	background:$dark;
	color:$light;
}

.normal {
	background:$light;
	color:$dark;
}

.noise {
	background:$light;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoW
 WpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhS
 nO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==");
	color:$light;
}

.spaced {
	margin: $gutter*4 auto;
}

.background {
	//background-image:url(../images/startbg.png);
	background-color:black;
	background-size:cover;
	background-position:center;
	height:100%;
	width:100%;
	position: fixed;
	z-index:-1;
} 

// COUNTER

.countdownHolder{
	margin:0 auto;
	text-align:center;
	letter-spacing:-3px;
	position: absolute;
	width:100%;
	margin-top:$gutter;
	font-weight:300;
	top:60%;
	opacity:0.4;
}

.position{
	display: inline-block;
	height: 3em;
	overflow: hidden;
	position: relative;
	width: 1em;
}

.digit{
	display:block;
	position: absolute;
	text-align:center;
	letter-spacing:-1px;
	padding:0.4em 0;
	width:1em;
	font-size:10px;
	background-color:rgba(255,255,255,0.1);
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
	display:inline-block;
	width:1em;
	height:1em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:1px;
	height:1px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:0px;
	top:-1.5em;
	content:'';
}

.countDiv:after{
	top:-1.2em;
}